
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TGCN Admin Manager </title>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <!-- Core CSS - Include with every page -->
    <link href="~/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.czMore-latest.js"></script>
    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="~/Admin/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="~/Admin/css/plugins/timeline/timeline.css" rel="stylesheet">
    <link href="~/Admin/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- SB Admin CSS - Include with every page -->
    <link href="~/Admin/css/sb-admin.css" rel="stylesheet">

    <script src="https://cdn.ckeditor.com/4.13.1/basic/ckeditor.js"></script>
</head>

<body>
    <style>

        ul{
            
            list-style-type: none;
        }

        li {
            padding-top: 0.5px;
            padding-bottom: 0.5px;
        }

    </style>

    <div id="wrapper">


        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-action="Index" asp-controller="Admin">TGCN Admin</a>
            </div>
            <!-- /.navbar-header -->

       
            <!-- /.navbar-top-links -->
            <style>
                .sidebar {
                    overflow-y: scroll;
                    position: fixed;
                    width: inherit;    
                    
                }
                /* Hide scrollbar for Chrome, Safari and Opera */
                .sidebar::-webkit-scrollbar {
                    display: none;
                }

                /* Hide scrollbar for IE, Edge and Firefox */
                .sidebar {
                    -ms-overflow-style: none; /* IE and Edge */
                    scrollbar-width: none; /* Firefox */
                }
            </style>
            <div class="navbar-default navbar-static-side" role="navigation" style=" position: fixed;">
                <div class="sidebar sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        @*<li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                 /input-group
                            </li>*@
                        <li>
                            <a asp-action="Index" asp-controller="Admin" style="color:white; background-color: #27ae60;" ><i class="fa fa-dashboard fa-fw"></i><strong> Dashboard</strong></a>
                        </li>
                        <li>
                            <a asp-action="QuanLyDonHang" asp-controller="Admin" style="color:white; background-color: #27ae60;"><i class="fa fa-shopping-cart fa-fw"></i><strong> Quản lý đơn hàng</strong></a>
                        </li>
                        <li>
                            <a asp-action="QuanLyUser" asp-controller="Admin" style="color:white; background-color: #27ae60;"><i class="fa fa-user fa-fw"></i><strong> Quản lý người dùng </strong></a>
                        </li>
                        <li>
                            <a asp-action="QuanLyKhuyenMai" asp-controller="Admin" style="color:white; background-color: #27ae60;"><i class="fa fa-plus-circle fa-fw"></i><strong> Quản lý khuyến mãi</strong> </a>
                        </li>
                        <li>
                            <a style="color:white; background-color: #27ae60;" href="#"><i class="fa fa-wrench fa-fw"></i><strong> Quản lý sản phẩm</strong><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" style="height: auto;">
                                <li>
                                    <a asp-action="QuanLy" asp-controller="Admin" asp-route-id="LSP0002" style="background-color:#2980b9; color: white"><i class="fa fa-mobile-phone fa-fw"></i><strong> Điện thoại</strong></a>
                                </li>
                                <li>
                                    <a asp-action="QuanLy" asp-controller="Admin" asp-route-id="LSP0008" style="background-color:#2980b9; color: white"><i class="fa fa-laptop fa-fw"></i><strong> Laptop</strong></a>
                                </li>
                                <li>
                                    <a asp-action="QuanLy" asp-controller="Admin" asp-route-id="LSP0007" style="background-color:#2980b9; color: white"><i class="fa fa-tablet fa-fw"></i><strong> Máy tính bảng</strong></a>
                                </li>

                                <li>
                                    <a  style="background-color:#2980b9; color: white" href="#"><i class="fa fa-wrench fa-fw"></i><strong> Phụ kiện</strong><span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse" style="height: auto;">
                                        <li>
                                            <a asp-action="QuanLy" asp-controller="Admin" asp-route-id="LSP0001" style="background-color:#1abc9c; color:white"><i class="fa fa-headphones fa-fw"></i><strong> Tai nghe</strong></a>
                                        </li>
                                        <li>
                                            <a asp-action="QuanLy" asp-controller="Admin" asp-route-id="LSP0004" style="background-color:#1abc9c; color:white"><i class="fa fa-pinterest fa-fw"></i><strong> Cáp sạc</strong></a>
                                        </li>
                                        <li>
                                            <a asp-action="QuanLy" asp-controller="Admin" asp-route-id="LSP0003" style="background-color:#1abc9c; color:white"><i class="fa fa-plus-square fa-fw"></i><strong> Thẻ nhớ</strong></a>
                                        </li>
                                        <li>
                                            <a asp-action="QuanLy" asp-controller="Admin" asp-route-id="LSP0005" style="background-color:#1abc9c; color:white"><i class="fa fa-mobile fa-fw"></i><strong> Ốp lưng</strong></a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a style="color:white; background-color: #27ae60;" href="#"><i class="fa fa-plus fa-fw"></i><strong> Thêm mới</strong><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse" style="height: auto;">
                                <li>
                                    <a style="background-color:#2980b9; color: white" asp-action="ThemKhuyenMai" asp-controller="Admin"><i class="fa fa-mobile-phone fa-fw"></i><strong> Khuyến mãi</strong></a>
                                </li>
                                <li>
                                    <a  style="background-color:#2980b9; color: white" asp-action="Them" asp-controller="Admin" asp-route-id="LSP0002"><i class="fa fa-mobile-phone fa-fw"></i><strong> Điện thoại</strong></a>
                                </li>
                                <li>
                                    <a style="background-color:#2980b9; color: white" asp-action="Them" asp-controller="Admin" asp-route-id="LSP0007"><i class="fa fa-tablet fa-fw"></i><strong> Máy tính bảng</strong></a>
                                </li>

                                <li>
                                    <a style="background-color:#2980b9; color: white" asp-action="Them" asp-controller="Admin" asp-route-id="LSP0008"><i class="fa fa-laptop fa-fw"></i><strong> Laptop</strong></a>
                                </li>
                                <li>
                                    <a style="background-color:#2980b9; color: white" href="#"><i class="fa fa-wrench fa-fw"></i><strong> Phụ kiện</strong><span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level collapse" style="height: auto;">
                                        <li>
                                            <a style="background-color:#1abc9c; color:white" asp-action="Them" asp-controller="Admin" asp-route-id="LSP0001"><i class="fa fa-headphones fa-fw"></i><strong> Tai nghe</strong></a>
                                        </li>
                                        <li>
                                            <a style="background-color:#1abc9c; color:white" asp-action="Them" asp-controller="Admin" asp-route-id="LSP0004"><i class="fa fa-pinterest fa-fw"></i><strong> Cáp sạc</strong></a>
                                        </li>
                                        <li>
                                            <a style="background-color:#1abc9c; color:white" asp-action="Them" asp-controller="Admin" asp-route-id="LSP0003"><i class="fa fa-plus-square fa-fw"></i><strong> Thẻ nhớ</strong></a>
                                        </li>
                                        <li>
                                            <a style="background-color:#1abc9c; color:white" asp-action="Them" asp-controller="Admin" asp-route-id="LSP0005"><i class="fa fa-mobile fa-fw"></i><strong> Ốp lưng</strong></a>
                                        </li>

                                    </ul>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" style="padding-top: 15px">
            <style>
                .dataTables_filter {
                    display: none;
                }
            </style>
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>
    <script src="~/Admin/js/jquery-1.10.2.js"></script>
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <script src="~/Admin/js/bootstrap.min.js"></script>
    <script src="~/Admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- SB Admin Scripts - Include with every page -->
    <script src="~/Admin/js/sb-admin.js"></script>




    @*<script src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@


    <!-- Page level plugins -->
    <script src="~/Admin/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Admin/js/plugins/dataTables/dataTables.bootstrap.js"></script>

    <!-- Page level plugins -->
    <script src="~/Admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Admin/js/demo/datatables-demo.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    @*<script src="~/js/test.js"></script>*@
    <script>
        var topNavBar = 50;
        var footer = 1;
        var height = $(window).height();
        $('.sidebar').css('height', (height - (topNavBar + footer)));

        $(window).resize(function () {
            var height = $(window).height();
            $('.sidebar').css('height', (height - (topNavBar + footer)));
        });
    </script>
</body>

</html>
