@using Microsoft.AspNetCore.Identity
@using e_mobile_shop.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="text-center border-right text-white">
        <a id="manage" class="text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User).ToString().Substring(0,15)</a>
    </li>
    <li class="text-center  text-white">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class=" btn btn-link text-white">Logout</button>
        </form>
    </li>
}
else
{
    <li class="text-center border-right text-white">
        <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Đăng kí </a>
    </li>
    <li class="text-center  text-white">
        <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
    </li>
}
