<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <link href="~/lib/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/owl-carousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="~/js/jquery.twbsPagination.js"></script>
    <script src="~/lib/owl-carousel/owl.carousel.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body style="background:rgb(240, 240, 240)">
    <div class="container-fluid bg-black">
        <nav class="container navbar navbar-expand-lg navbar-dark bg-black p-0">
            <a class="navbar-brand pl-lg-4" href="@Url.Action("TrangChu", "MobileShop")"
               style="font-weight:bold;color:white; font-style:italic">Thegioidienthoai</a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0 m-lg-auto pl-lg-5 ">
                    <input class="form-control mr-sm-2 " type="search" placeholder="Bạn tìm gì ..." aria-label="Search"
                           style="  border-radius:0px; font-size:11px;">

                </form>
                <div class="navbar-nav  ">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div class="nav-item m-1 active">
                            <a class="nav-link" href="@Url.Action("TrangChu", "MobileShop")">
                                <div>
                                    <i class="fas fa-home"></i>
                                </div>
                                trang chủ <span class="sr-only">(current)</span>
                            </a>
                        </div>
                        <div class="nav-item m-1">
                            <a class="nav-link" href="@Url.Action("DienThoaiDiDong","MobileShop")">
                                <div>
                                    <i class="fas fa-mobile"></i>
                                </div>Điện thoại
                            </a>
                        </div>
                        <div class="nav-item m-1">
                            <a class="nav-link" href="#">
                                <div>
                                    <i class="fas fa-laptop"></i>
                                </div>Laptop
                            </a>
                        </div>
                        <div class="nav-item m-1">
                            <a class="nav-link" href="#">
                                <div>
                                    <i class="fas fa-headphones-alt"></i>
                                </div>
                                Phụ kiện
                            </a>
                        </div>
                        <div class="nav-item m-1">
                            <a class="nav-link" href="#">
                                <div>
                                    <i class="far fa-newspaper"></i>
                                </div>Tin tức
                            </a>
                        </div>

                        <div class="nav-item m-1">
                            <a class="nav-link" href="#">
                                <div>
                                    <i class="far fa-question-circle"></i>
                                </div>Hỏi đáp
                            </a>
                        </div>
                        <div class="nav-item m-1" style="  border-left: 1px solid gray;">
                            <a class="nav-link" href="#">
                                <div>Đăng kí </div>
                                <div> Tài khoản</div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </div>



    @RenderBody()

    <!--Footer-->
    <div class="container-fluid bg-white">
        <div class="container">
            <div class="row pt-3">
                <div class="col-md-4 col-12">
                    <ul class="colfoot">
                        <li><a href="/tra-gop" title="Hướng dẫn mua trả góp">Tìm hiểu về mua trả góp</a></li>
                        <li><a href="/bao-hanh" title="Tìm trung tâm bảo hành">Chính sách bảo hành</a></li>
                        <li><a href="/chinh-sach-bao-hanh-san-pham" title="Chính sách đổi trả">Chính sách đổi trả</a></li>
                        <li><a href="/giao-hang" title="Giao hàng &amp; Thanh toán">Giao hàng &amp; Thanh toán</a></li>

                    </ul>
                </div>

                <div class="col-md-4 col-12">
                    <ul class="colfoot">
                        <li><a href="http://mwg.vn" target="_blank" title="Giới thiệu công ty (mwg.vn)" rel="noopener">Giới thiệu công ty <span>(mwg.vn)</span></a></li>
                        <li><a href="//vieclam.thegioididong.com" target="_blank" title="Tuyển dụng" rel="noopener">Tuyển dụng</a></li>
                        <li><a href="/lien-he" title="Gửi góp ý, khiếu nại">Gửi góp ý, khiếu nại</a></li>
                        <li><a href="/he-thong-sieu-thi-the-gioi-di-dong" title="Tìm siêu thị (2.025 shop)">Tìm siêu thị <span>(2.025 shop)</span></a></li>

                    </ul>
                </div>

                <div class="col-md-4 col-12">
                    <ul class="colfoot">
                        <li>

                            <p>Gọi mua hàng <a href="tel:18001060">1800.1060</a> (7:30 - 22:00)</p>
                            <p>Gọi khiếu nại &nbsp; <a href="tel:18001062">1800.1062</a> (8:00 - 21:30)</p>
                            <p>Gọi bảo hành &nbsp; <a href="tel:18001064">1800.1064</a> (8:00 - 21:00)</p>
                            <p>Kỹ thuật &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="tel:18001763">1800.1763</a> (7:30 - 22:00)</p>
                            <a target="_blank" rel="nofollow noopener" class="bct" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=20098" aria-label="bộ công thương mwg"><i class="icontgdd-bct"></i></a>
                            <a rel="nofollow noopener" class="bct" href="/tos#giai-quyet-khieu-nai" aria-label="bộ công thương chống hàng giả"><i class="icontgdd-hg"></i></a>
                            <a href="//www.dmca.com/Protection/Status.aspx?ID=5b62e759-2a0c-4d86-b972-af903bfbc89d&amp;refurl=http://www.thegioididong.com/" title="DMCA.com Protection Status" class="dmca-badge"> <img style="opacity:0.6;margin: 0px auto -8px;display: block;" src="//images.dmca.com/Badges/dmca-badge-w100-5x1-11.png?ID=5b62e759-2a0c-4d86-b972-af903bfbc89d" alt="DMCA.com Protection Status"></a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>

    </div>
    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

</body>
</html>
