@{
    Layout = "~/Views/Shared/_MobileShopLayout.cshtml";
}


<div class="container bg-white p-0 pt-1 pb-1">
    <img src="~/Image/1200-75-1200x75.gif" class="w-100" />
</div>

<!-- Khuyến mãi -->
<div class="bg-white container     p-0 pt-1 pb-1">
    <div class="navigat cate42">
        <h2>Khuyến mãi nổi bật </h2>

    </div>
    <div id="owl-demo1" class="owl-carousel owl-theme">

        @for (int i = 0; i < 8; i++)
        {<div class="my-owl-item mt-2 p-3" style="  border:none;">
                <div style="width: 100%">
                    <img style="z-index:99;" class=" w-100 " src="~/Image/samsung-galaxy-s10-lite-blue-thumb-400x400.jpg" />
                    <table style="width:80%; margin-top: -1rem; z-index:100">
                        <tr>
                            <td colspan="2">
                                <label class="discount">Giảm 1.000.000 <sup>đ</sup></label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-size: 13px;" align="left">Samsung Galaxy A51</td>
                        </tr>
                        <tr style="font-size: 13px;">
                            <td>
                                <p style="color:red; font-weight:600;"> 6.990.000<sup>đ</sup></p>
                            </td>
                            <td>
                                <p>
                                    <span style="text-decoration: line-through;">7.990.000</span><sup>đ</sup>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>

</div>


<!-- Điện thoại -->
<div class="bg-white container p-0">

    <div class="navigat cate42">
        <h2>Điện thoại nổi bật nhất</h2>
    </div>

    <div class=" row m-0 ">
        <div class=" col-md-6 col-12 border ">
            @for (int i = 0; i < 2; i++)
            {<div>
                    <img src=" Image/km-samsung-galaxy-s20-ultra-ft-480x222.jpg" class="w-100" alt="">
                    <table class="m-2">
                        <tr>
                            <td style="font-size: 13px;">Samsung GalaxyS20 Ultra</td>
                        </tr>
                        <tr>
                            <td>
                                <p style="font-size: 13px; color:red; font-weight:600;"> 26.990.000<sup>đ</sup></p>
                            </td>
                        </tr>
                    </table>
                </div>
            }


        </div>
        <div class="row col-md-6 col-12  m-0 p-0">
            @for (int i = 0; i < 6; i++)
            {<div class="col-md-4 col-6 border p-lg-3 d-flex align-items-center">
                    <div>
                        <img style="z-index:99; width: 100%;" class="" src="~/Image/samsung-galaxy-s10-lite-blue-thumb-400x400.jpg" />
                        <table style="width:80%; margin-top: -1rem; z-index:100">
                            <tr>
                                <td colspan="2">
                                    <label class="discount">Giảm 1.000.000 <sup>đ</sup></label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-size: 13px;">Samsung Galaxy A51</td>
                            </tr>
                            <tr style="font-size: 13px;">
                                <td>
                                    <p style="color:red; font-weight:600;"> 6.990.000<sup>đ</sup></p>
                                </td>
                                <td>
                                    <p>
                                        <span style="text-decoration: line-through;">7.990.000</span><sup>đ</sup>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            }
        </div>


    </div>
    <div class="navigat cate42">

        <div class="viewallcat p-3">
            <a href="#">Xem tất cả <b>157</b> điện thoại</a>
        </div>
    </div>
</div>

<!-- Laptop -->

<div class="bg-white container p-0">

    <div class="navigat cate42">
        <h2>Laptop nổi bật nhất</h2>

    </div>

    <div class=" row m-0 ">
        <div class=" col-md-5 col-12 border ">
            <div>
                <img src="~/Image/enovo-ideapad-s540-15iwl-i5-8265u-8gb-128gb-1tb-w-480x222.jpg" class="w-100 " />

                <table class="m-2">
                    <tr>
                        <td style="font-size: 13px;">Lenovo Ideapad S540 15IWL i5 8265U (81NE009FVN)</td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-size: 13px; color:red; font-weight:600;"> 26.990.000<sup>đ</sup></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row col-md-7 col-12  m-0 p-0">
            @for (int i = 0; i < 3; i++)
            {
                <div class="col-md-4 col-6 border p-lg-3  d-flex align-items-center">
                    <div>
                        <img style="z-index:99; width: 100%;" class="" src="~/Image/acer-swift-sf315-52-38yq-i3-8130u-4gb-1tb-156f-win-400x400.jpg" />
                        <table style="width:80%; margin-top: -1rem; z-index:100">
                            <tr>
                                <td colspan="2">
                                    <label class="discount">Giảm 1.000.000 <sup>đ</sup></label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-size: 13px;">Lenovo Ideapad </td>
                            </tr>
                            <tr style="font-size: 13px;">
                                <td>
                                    <p style="color:red; font-weight:600;"> 16.990.000<sup>đ</sup></p>
                                </td>
                                <td>
                                    <p>
                                        <span style="text-decoration: line-through;">17.990.000</span><sup>đ</sup>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"> <p style="font-size: 12px;"> Mua kèm Office 365 giảm 600.000vnđ</p> </td>
                            </tr>
                        </table>
                    </div>
                </div>

            }
        </div>


    </div>
    <div class="navigat cate42">

        <div class="viewallcat p-3">
            <a href="#">Xem tất cả <b>157</b> laptop</a>
        </div>
    </div>
</div>

<!-- Tablet-->
<div class="bg-white container p-0">

    <div class="navigat cate42">
        <h2>Laptop nổi bật nhất</h2>

    </div>

    <div class=" row m-0 ">
        <div class=" col-md-6 col-12 border ">
            <div>
                <img src="~/Image/samsung-galaxy-tab-s6-ft-spec-480x222-1.jpg" class="w-100 " />

                <table class="m-2">
                    <tr>
                        <td style="font-size: 13px;"> Samsung galaxy tab S6 </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-size: 13px; color:red; font-weight:600;"> 26.990.000<sup>đ</sup></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row col-md-6 col-12  m-0 p-0">
            @for (int i = 0; i < 3; i++)
            {
                <div class="col-md-4 col-6 border p-lg-3  d-flex align-items-center">
                    <div>
                        <img style="z-index:99; width: 100%;" class="" src="~/Image/ipad-10-2-inch-wifi-128gb-2019-silver-400x400.jpg" />
                        <table style="width:80%; margin-top: -1rem; z-index:100">
                            <tr>
                                <td colspan="2">
                                    <label class="discount">Giảm 1.000.000 <sup>đ</sup></label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-size: 13px;">iPad 10.2 inch Wifi (2019) 128GB </td>
                            </tr>
                            <tr style="font-size: 13px;">
                                <td>
                                    <p style="color:red; font-weight:600;"> 16.990.000<sup>đ</sup></p>
                                </td>
                                <td>
                                    <p>
                                        <span style="text-decoration: line-through;">17.990.000</span><sup>đ</sup>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"> <p style="font-size: 12px;"> Mua kèm Office 365 giảm 600.000vnđ</p> </td>
                            </tr>
                        </table>
                    </div>
                </div>

            }
        </div>


    </div>
    <div class="navigat cate42">

        <div class="viewallcat p-3">
            <a href="#">Xem tất cả <b>157</b> tablet</a>
        </div>
    </div>
</div>

<!-- Phụ kiện -->
<div class="bg-white container     p-0 pt-1 pb-1">
    <div class="navigat cate42">
        <h2>Phụ kiện giá cao </h2>

    </div>
    <div id="owl-demo2" class="owl-carousel owl-theme">

        @for (int i = 0; i < 8; i++)
        {<div class="my-owl-item mt-2 p-3" style="  border:none;">
                <div style="width: 100%">
                    <img style="z-index:99;" class=" w-100" src="~/Image/polymer-10000-mah-type-c-esaver-pj-jp106s-avatar-1-400x400.jpg" />
                    <table style="width:100%;  z-index:100" cellpadding="0">

                        <tr>
                            <td colspan="2" style="font-size: 13px;" align="left"> <p> Pin sạc dự phòng Polymer 10.000 mAh Type C eSaver PJ JP106S</p></td>
                        </tr>
                        <tr style="font-size: 14px;">
                            <td colspan="2" align="left" valign="top">
                                <p style="color:red; font-weight:600;"> 990.000<sup>đ</sup></p>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
    <div class="navigat cate42">

        <div class="viewallcat p-3">
            <a href="#">Xem tất cả <b>157</b> phụ kiện</a>
        </div>
    </div>
</div>
<br />