@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đăng kí ";
}

<h1>@ViewData["Title"]</h1>

<p>
        Vui lòng kiểm tra email để xác nhận đăng kí thành công tài khoản của bạn. 
</p>
